.DS_Store
*.jsonl
cookies
*.txt
!sample_social_media_sip/uuid-bd3c9c63-bdba-42d0-b4c9-81f381ae3831/*.txt
*.json
*prod*
warcs/
*MacBook-Pr*
rethinkdb_data/
crawls/
*.zip
!20210325_twitter_packed_snscrape.jsonl
*/reference_set
samples/
*.env
sessiefile
*data/
